


.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 60;
    max-width: 600px;
    min-width:300;
    height: 300px;
    background-color: #0f0f0f6e;
}

.titleFont {
    font-family: 'NikkiFont';
    letter-spacing: 15px;
    font-size: 2rem;
    text-align: center;
}