@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'NikkiFont';
  /* src: url('../../public/fonts/NikkiFont.otf') format('opentype'); */
  src: url('/fonts/NikkiFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  height: 100%;
  width: 100%;
  /* background-image: url('/images/hero.jpg'); */
  background-color: #333442;
  /* background-color: grey; */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* display: flex;
  flex-direction: column; */

  /* font-family: 'NikkiFont', sans-serif; 
  background: black;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.heroImgBg {
  height: 100vh;
  width: 100%;
  background-image: url('/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.titleFont {
  font-family: 'NikkiFont';
  letter-spacing: 15px;
  font-size: 2rem;
  text-align: center;
  margin-left: 10px;
}