@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'NikkiFont';
  /* src: url('../../public/fonts/NikkiFont.otf') format('opentype'); */
  src: url('/fonts/NikkiFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  height: 100%;
  width: 100%;
  /* background-image: url('/images/hero.jpg'); */
  background-color: #333442;
  /* background-color: grey; */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* display: flex;
  flex-direction: column; */

  /* font-family: 'NikkiFont', sans-serif; 
  background: black;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.heroImgBg {
  height: 100vh;
  width: 100%;
  background-image: url('/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.titleFont {
  font-family: 'NikkiFont';
  letter-spacing: 15px;
  font-size: 2rem;
  text-align: center;
  margin-left: 10px;
}

.box {
  filter: opacity(0.95);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* z-index: 60; */
  max-width: 600px;
  min-width:300px;
  /* background-color: #1e1f2f; */
  padding: 1rem;
  margin:3rem 0;
  /* background-color: hsla(236, 22%, 15%, 0.214); */
  background-image: linear-gradient(
      to bottom, 
      hsl(236, 22%, 15%),
      hsl(236, 22%, 20%)
  );
}


@media (max-width: 570px) {
  .titleFont {
      font-size: 1.7rem;
      letter-spacing: 10px;
  }
}


.subtitle {
  /* font-style: italic; */
  text-align: center;
  letter-spacing: 2px;
  font-size:90%;
  color: #007bff;
}


@media (max-width: 435px) {
  .titleFont {
      font-size: 1.2rem;
      letter-spacing: 5px;
      margin-left: 5px;
  }
  .subtitle {
      font-size:80%;
  }
}
